.container {
  max-width: 2500px;
  margin: 0 auto;
  padding-inline: 20px;
  /* outline: 1px solid red; */
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* outline: 1px solid yellow; */
}

.buttons {
  display: flex;
  gap: 25px;
}
